.footer-container {
    text-align: center;
    padding: 10px 0;
    background-color: #333; /* Optional: Set a background color to make the text stand out */ 
    color: #f8f8f8; /* Off-white color for text */
    font-size: 0.9rem;
  }
  