.leave-card {
    width: 30%; /* Adjust card width */
    padding:  30px 15px;
    border: 1px solid #ddd;
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
    margin: 10px; /* Add spacing between cards */
}

.leave-card-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.pie-chart {
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
}

.legend {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.legend-item {
    display: flex;
    align-items: center;
    font-size: 0.9em;
    margin-bottom: 5px;
}

.legend-item span {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 8px;
}

.legend-item.consumed span {
    background-color: gray;
}

.legend-item.available span {
    background-color: orange;
}
